#title {
	margin-top: 20px;
}
#image {
	margin: 0 auto;
	max-width: 100%;
	height: auto;
	display: block;
	margin-top: 30px;
}
#img-caption{
  margin-top: 5px;
}
#subTitle {
	margin-bottom: 15px;
}
      footer {
	background-image: linear-gradient(90deg, purple, rebeccapurple);
	border-top: 1px solid #a4a4a4;
	padding: 7px 0;
}
h4 {
	padding: 1.5px 10.5px;
	background-image: linear-gradient(90deg,purple,rebeccapurple);
	color: white;
	display: inline;
	margin-left: 5.5px;
	border-radius: 5px;
}
  #title,#subTitle {
	color: purple;
}
    footer h6{color: whitesmoke!important;;}
    #tribute-link {
	color: wheat;
}
  #tribute-link:hover{
    color: white;
    font-weight: bold;
  }
  ul {
	margin-top: 15px;
}